log4j.logger.ros.uniform_mission_space=all, rootAppender

log4j.appender.rootAppender.name=rootAppender
log4j.appender.rootAppender=org.apache.log4j.RollingFileAppender
log4j.appender.rootAppender.File=${HOME}/EAMOS_logs/MiddleLayer/uniform_${DRONE_NAME}_ALL_LOGGING_ALL.log
log4j.appender.rootAppender.layout=org.apache.log4j.PatternLayout
log4j.appender.rootAppender.layout.ConversionPattern=%d{HH:mm:ss} [%p] %m%n
log4j.appender.rootAppender.append=true
log4j.appender.rootAppender.threshold=all