log4j.logger.ros.adapter_space=info, rootAppender
log4j.logger.ros.adapter_space.AdapterLoggerLocationValidator=info, LOCVAL
log4j.logger.ros.adapter_space.AdapterLoggerMover=info, MOVER
log4j.logger.ros.adapter_space.AdapterLoggerMove=info, MOVINGACTION
log4j.logger.ros.adapter_space.AdapterLoggerPosition=info, POSITIONBROKER
log4j.logger.ros.adapter_space.AdapterLoggerDebug=info, DEBUGACTION

log4j.appender.rootAppender.name=rootAppender
log4j.appender.rootAppender=org.apache.log4j.RollingFileAppender
log4j.appender.rootAppender.File=${HOME}/EAMOS_logs/MiddleLayer/adapter_${DRONE_NAME}_ALL_LOGGING_INFO.log
log4j.appender.rootAppender.layout=org.apache.log4j.PatternLayout
log4j.appender.rootAppender.layout.ConversionPattern=%d{HH:mm:ss} [%p] %m%n
log4j.appender.rootAppender.append=true
log4j.appender.rootAppender.threshold=info

log4j.appender.LOCVAL.name=LOCVAL
log4j.appender.LOCVAL=org.apache.log4j.RollingFileAppender
log4j.appender.LOCVAL.File=${HOME}/EAMOS_logs/MiddleLayer/adapter_${DRONE_NAME}_location_validator_INFO.log
log4j.appender.LOCVAL.layout=org.apache.log4j.PatternLayout
log4j.appender.LOCVAL.layout.ConversionPattern=%d{HH:mm:ss} [%p] %m%n
log4j.appender.LOCVAL.append=true
log4j.appender.LOCVAL.threshold=info

log4j.appender.MOVER.name=MOVER
log4j.appender.MOVER=org.apache.log4j.RollingFileAppender
log4j.appender.MOVER.File=${HOME}/EAMOS_logs/MiddleLayer/adapter_${DRONE_NAME}_mover_INFO.log
log4j.appender.MOVER.layout=org.apache.log4j.PatternLayout
log4j.appender.MOVER.layout.ConversionPattern=%d{HH:mm:ss} [%p] %m%n
log4j.appender.MOVER.append=true
log4j.appender.MOVER.threshold=info

log4j.appender.MOVINGACTION.name=MOVINGACTION
log4j.appender.MOVINGACTION=org.apache.log4j.RollingFileAppender
log4j.appender.MOVINGACTION.File=${HOME}/EAMOS_logs/MiddleLayer/adapter_${DRONE_NAME}_moving_action_INFO.log
log4j.appender.MOVINGACTION.layout=org.apache.log4j.PatternLayout
log4j.appender.MOVINGACTION.layout.ConversionPattern=%d{HH:mm:ss} [%p] %m%n
log4j.appender.MOVINGACTION.append=true
log4j.appender.MOVINGACTION.threshold=info

log4j.appender.POSITIONBROKER.name=POSITIONBROKER
log4j.appender.POSITIONBROKER=org.apache.log4j.RollingFileAppender
log4j.appender.POSITIONBROKER.File=${HOME}/EAMOS_logs/MiddleLayer/adapter_${DRONE_NAME}_position_broker_INFO.log
log4j.appender.POSITIONBROKER.layout=org.apache.log4j.PatternLayout
log4j.appender.POSITIONBROKER.layout.ConversionPattern=%d{HH:mm:ss} [%p] %m%n
log4j.appender.POSITIONBROKER.append=true
log4j.appender.POSITIONBROKER.threshold=info

log4j.appender.DEBUGACTION.name=DEBUGACTION
log4j.appender.DEBUGACTION=org.apache.log4j.RollingFileAppender
log4j.appender.DEBUGACTION.File=${HOME}/EAMOS_logs/MiddleLayer/adapter_${DRONE_NAME}_debugAction_INFO.log
log4j.appender.DEBUGACTION.layout=org.apache.log4j.PatternLayout
log4j.appender.DEBUGACTION.layout.ConversionPattern=%d{HH:mm:ss} [%p] %m%n
log4j.appender.DEBUGACTION.append=true
log4j.appender.DEBUGACTION.threshold=info